.nav {
  display: flex;
  margin-left: auto;
  gap: 50px;

  &__link {
    display: block;
    padding: 32px 0;
    color: var(--main-font--);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    transition: color var(--animation);

    &:hover {
      color: var(--color-accent);
    }
    &--active-current {
      color: var(--color-accent);
      position: relative;
    }
    &--active-current::after {
      content: '';
      position: absolute;
      left: 0px;
      bottom: 0px;
      display: block;
      width: 100%;
      height: 4px;
      background: var(--color-accent);
      border-radius: 2px;
    }
  }
}
